/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0076ad;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.brand,
.product,
.contact {
    flex: 1;
}

.brand p,
.product p,
.contact p {
    font-weight: bold;
}

.brand .social-links a,
.product .product-links a,
.contact .contact-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}
