#button-id-452- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-452-:active, #button-id-452-.active { color: rgb(255, 255, 255) !important; }

#button-id-452-:hover, #button-id-452-.hover { color: rgb(255, 255, 255); }

#button-id-454- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-454-:active, #button-id-454-.active { color: rgb(255, 255, 255) !important; }

#button-id-454-:hover, #button-id-454-.hover { color: rgb(255, 255, 255); }

#button-id-459- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-459-:active, #button-id-459-.active { color: rgb(255, 255, 255) !important; }

#button-id-459-:hover, #button-id-459-.hover { color: rgb(255, 255, 255); }

#button-id-461- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-461-:active, #button-id-461-.active { color: rgb(255, 255, 255) !important; }

#button-id-461-:hover, #button-id-461-.hover { color: rgb(255, 255, 255); }

#button-id-466- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-466-:active, #button-id-466-.active { color: rgb(255, 255, 255) !important; }

#button-id-466-:hover, #button-id-466-.hover { color: rgb(255, 255, 255); }

#button-id-468- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-468-:active, #button-id-468-.active { color: rgb(255, 255, 255) !important; }

#button-id-468-:hover, #button-id-468-.hover { color: rgb(255, 255, 255); }

#button-id-481- { margin: unset; color: rgb(0, 0, 0); border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; letter-spacing: 0px; font-size: 24px; font-weight: 700; font-style: normal; }

#button-id-481-:active, #button-id-481-.active { color: rgb(0, 0, 0) !important; }

#button-id-481-:hover, #button-id-481-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-486- { margin: unset; color: rgb(0, 0, 0); border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; letter-spacing: 0px; font-size: 24px; font-weight: 700; font-style: normal; }

#button-id-486-:active, #button-id-486-.active { color: rgb(0, 0, 0) !important; }

#button-id-486-:hover, #button-id-486-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-490- { margin: unset; color: rgb(0, 0, 0); border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; letter-spacing: 0px; font-size: 24px; font-weight: 700; font-style: normal; }

#button-id-490-:active, #button-id-490-.active { color: rgb(0, 0, 0) !important; }

#button-id-490-:hover, #button-id-490-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-494- { margin: unset; color: rgb(0, 0, 0); border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; letter-spacing: 0px; font-size: 24px; font-weight: 700; font-style: normal; }

#button-id-494-:active, #button-id-494-.active { color: rgb(0, 0, 0) !important; }

#button-id-494-:hover, #button-id-494-.hover { color: rgba(0, 0, 0, 0.5); }

#container-id-2- { min-height: 100px; margin: unset; left: 0px;
  width: 100%; background-color: rgb(246, 238, 238); border-width: 1px; border-style: none; flex-direction: row; justify-content: center; background-repeat: no-repeat; background-size: cover; align-items: flex-end; top: 52px; }

#container-id-2- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-418- { width: 100%; padding: 40px 80px; background-color: rgba(0, 0, 0, 0); flex-direction: row; align-items: flex-end; justify-content: center; }

#container-id-418- > * { max-width: 100%; margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-418- > :last-child, #container-id-418- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-419- { margin: unset; align-items: center; border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; justify-content: center; min-height: 400px; width: 320px; background-color: rgba(255, 255, 255, 0.5); }

#container-id-419- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-419- > :last-child, #container-id-419- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-422- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; left: 0px; }

#container-id-422- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-422- > :last-child, #container-id-422- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-428- { margin: unset; align-items: center; border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; min-height: 400px; justify-content: center; width: 320px; background-color: rgba(255, 255, 255, 0.5); }

#container-id-428- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-428- > :last-child, #container-id-428- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-431- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; }

#container-id-431- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-431- > :last-child, #container-id-431- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-437- { margin: unset; align-items: center; border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; min-height: 400px; justify-content: center; width: 320px; background-color: rgba(255, 255, 255, 0.5); }

#container-id-437- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-437- > :last-child, #container-id-437- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-440- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; left: 0px; }

#container-id-440- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-440- > :last-child, #container-id-440- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-447- { flex-direction: column; align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 80px; }

#container-id-447- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-447- > :last-child, #container-id-447- > .last-child { margin-bottom: 0px !important; }

#container-id-448- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; }

#container-id-449- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-449- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-449- > :last-child, #container-id-449- > .last-child { margin-bottom: 0px !important; }

#container-id-451- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; }

#container-id-451- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-451- > :last-child, #container-id-451- > .last-child { margin-bottom: 0px !important; }

#container-id-456- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; }

#container-id-456- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-456- > :last-child, #container-id-456- > .last-child { margin-bottom: 0px !important; }

#container-id-458- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-458- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-458- > :last-child, #container-id-458- > .last-child { margin-bottom: 0px !important; }

#container-id-463- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-463- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-463- > :last-child, #container-id-463- > .last-child { margin-bottom: 0px !important; }

#container-id-465- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-465- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-465- > :last-child, #container-id-465- > .last-child { margin-bottom: 0px !important; }

#container-id-495- { min-height: 100px; margin: unset; left: 0px; top: 0px;
  width: 100%; align-content: flex-start; grid-template-columns: auto auto auto auto; background-color: rgba(0, 0, 0, 0.2); }

#container-id-495- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-495- > :last-child, #container-id-495- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#root-container { background-position: center center; background-repeat: no-repeat; background-size: contain; }

#section-id-446- { margin: unset; width: 100%; background-color: rgba(214, 208, 205, 0); }

#section-id-446- > * { max-width: 1320px; }

#section-id-471- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; left: 0px; top: 1167px; }

#section-id-471- > * { max-width: 1320px; }

#text-id-420- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; font-size: 26px; }

#text-id-423- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-429- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; font-size: 26px; }

#text-id-432- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-438- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; font-size: 26px; }

#text-id-441- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-450- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-457- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-464- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-470- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

#container-id-2- { background-image: url("../img/-project-image-1.jpeg"); }

@media (min-width:1025px) {#button-id-481- { line-height: 26px; min-height: 16px; }

#button-id-486- { line-height: 26px; }

#button-id-490- { line-height: 26px; }

#button-id-494- { line-height: 26px; }

#container-id-2- { min-height: 120vh; }

#container-id-447- > * { position: static; }

#container-id-449- > * { position: static; }

#container-id-451- > * { position: static; }

#container-id-456- > * { position: static; }

#container-id-458- > * { position: static; }

#container-id-463- > * { position: static; }

#container-id-465- > * { position: static; }

#container-id-495- { display: grid; justify-items: center; min-height: 53px; }

#content-container { position: relative; display: block; }

#content-container > * { position: absolute; }

#root-container { background-position: center center; }

#text-id-420- { line-height: 28.75px; }

#text-id-429- { line-height: 28.75px; }

#text-id-438- { line-height: 28.75px; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-418- { flex-direction: row; padding: 40px 48px; }

#container-id-418- > * { max-width: 100%; margin-right: 16px !important; margin-bottom: 0px !important; }

#container-id-418- > :last-child, #container-id-418- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-419- { flex-direction: column; padding: 40px 24px; }

#container-id-419- > * { max-width: 100%; }

#container-id-422- { flex-direction: row; }

#container-id-422- > * { max-width: 100%; }

#container-id-428- { flex-direction: column; padding: 40px 24px; }

#container-id-428- > * { max-width: 100%; }

#container-id-431- { flex-direction: row; }

#container-id-431- > * { max-width: 100%; }

#container-id-437- { flex-direction: column; padding: 40px 24px; }

#container-id-437- > * { max-width: 100%; }

#container-id-440- { flex-direction: row; }

#container-id-440- > * { max-width: 100%; }

#container-id-447- { padding: 56px; }

#container-id-447- > * { margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-447- > :last-child, #container-id-447- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-420- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-423- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-429- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-432- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-438- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-441- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }}

@media (max-width:640px) {#container-id-418- { align-items: flex-start; justify-content: flex-start; flex-direction: column; padding: 40px 24px; }

#container-id-418- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-418- > :last-child, #container-id-418- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-419- { width: 100%; flex-direction: column; min-height: auto; padding: 40px; }

#container-id-419- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-419- > :last-child, #container-id-419- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-422- { flex-direction: row; }

#container-id-422- > * { max-width: 100%; }

#container-id-428- { width: 100%; flex-direction: column; min-height: auto; padding: 40px; }

#container-id-428- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-428- > :last-child, #container-id-428- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-431- { flex-direction: row; }

#container-id-431- > * { max-width: 100%; }

#container-id-437- { width: 100%; flex-direction: column; min-height: 320px; padding: 40px; }

#container-id-437- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-437- > :last-child, #container-id-437- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-440- { flex-direction: row; }

#container-id-440- > * { max-width: 100%; }

#container-id-447- { align-items: center; padding: 48px 24px; }

#container-id-447- > * { margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-447- > :last-child, #container-id-447- > .last-child { margin-bottom: 0px !important; }

#container-id-448- { flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-448- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-448- > :last-child, #container-id-448- > .last-child { margin-bottom: 0px !important; }

#container-id-449- { align-items: center; }

#container-id-449- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-449- > :last-child, #container-id-449- > .last-child { margin-right: 0px !important; }

#container-id-451- { align-items: center; min-height: auto; }

#container-id-456- { align-items: center; }

#container-id-456- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-456- > :last-child, #container-id-456- > .last-child { margin-right: 0px !important; }

#container-id-458- { align-items: center; }

#container-id-463- { align-items: center; }

#container-id-463- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-463- > :last-child, #container-id-463- > .last-child { margin-right: 0px !important; }

#container-id-465- { align-items: center; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-420- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-423- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-429- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-432- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-438- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-441- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-470- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}